services:
  postgresql:
    image: postgres:15-alpine 
    ports:
      - '5432:5432'
    volumes:
      - 'projeto01_postgres_etlComDbt:/var/lib/postgresql/data'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  dbt:
    build: ./dbt_banco
    depends_on:
      postgresql:
        condition: service_healthy
    volumes:
      - ./dbt_banco:/usr/app/dbt_project
    environment:
      - DB_HOST=postgresql
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}
      - DB_PORT=5432
      - DB_SCHEMA=${DB_SCHEMA}

volumes:
  projeto01_postgres_etlComDbt:
    driver: local