services:
  postgresql:
    image: postgres:15-alpine 
    ports:
      - '5432:5432'
    volumes:
      - 'projeto01_postgres_etlComDbt:/var/lib/postgresql/data'
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}

  dbt:
    build: ./dbt_banco
    depends_on:
      - postgresql
    volumes:
      - ./dbt_banco:/usr/app/dbt_project
    environment:
      - DB_HOST=postgresql
      - DB_USER=${POSTGRES_USER}
      - DB_PASSWORD=${POSTGRES_PASSWORD}
      - DB_NAME=${POSTGRES_DB}

# O registro obrigatorio do lado esquerdo
volumes:
  projeto01_postgres_etlComDbt:
    driver: local