# usando versão bitnami
version: '3.8'

services:
  postgresql:
		# 15 é muito mais estavel que a 18 (que nem lancou oficialmente)
    image: docker.io/bitnami/postgresql:15 
    ports:
      - '5432:5432'
    volumes:
      # Lado esquerdo (você inventa) : Lado direito (a Bitnami obriga)
      - 'projeto01:/bitnami/postgresql'
    environment:
      # Puxando as credenciais do seu arquivo .env
      - POSTGRESQL_USERNAME=${POSTGRES_USER}
      - POSTGRESQL_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRESQL_DATABASE=${POSTGRES_DB}

# O registro obrigatorio do lado esquerdo
volumes:
  dados_do_meu_banco:
    driver: local